@media only screen and (max-width: 1050px) {
    .main-container {
        width: 100%;
    }

    .articles, .footer-header, .header-main {
        padding: 0 15px;
    }
}



@media only screen and (max-width: 768px) {
    .hamburger {
        display: block;
        padding: 0 20px;
    }

    .nav {
        display: none;
    }

    .hamMenu.show {
        display: flex;
        flex-direction: column;
    }

    .hamMenu {
        display: none;
        background: transparent;
        height: 100vh;
        align-items: center;
        font-size: 24px;
        padding-top: 50px;
    }

    .article-header {
        flex-direction: column;
    }

    .articles-img {
        padding: 0 0 20px 0;
        margin-right: auto;
        margin-left: auto;
    }

    .articles-img__text {
        width: 251px;
        padding: 10px 0;
    }

    .nav.show {
        text-align: center;
    }

    .item {
        padding-top: 10px;
    }

    .header {
        padding-top: 0;
        background: linear-gradient(0deg, rgba(0, 53, 108, 1) 0%, rgba(0, 0, 0, 1) 15%);
    }

    .logo {
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    .logo-img {
        margin-right: 0;
    }

    .logo-text__h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 640px) {
    .button {
        width: 100%;
    }

    .change-page {
        flex-direction: column;
        padding: 30px 0;
    }

    .button-previous {
        margin-bottom: 10px;
    }

    .articles, .footer-header, .header-main {
        padding: 0 10px;
    }

    .footer-main {
        flex-direction: column;
    }

    .footer-information {
        font-size: 12px;
        width: 100%;
        text-align: left;
        padding-top: 15px;
    }

    .footer-information__questions {
        padding-top: 5px;
    }

    .footer-location {
        padding-top: 15px;
    }

    .footer {
        padding: 15px 0;
    }

    .footer-universe {
        flex-direction: column;
    }

    .footer-logo {
        justify-content: flex-start;
        align-items: center;
    }

    .footer-designer {
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
    }

    .hamMenu {
        font-size: 20px;
        padding-top: 30px;
    }

}

@media only screen and (max-width: 550px) {
    .footer-logo__h1 {
        font-size: 18px;
    }

    .main-container__h1 {
        padding: 15px 0;
        font-size: 18px;
    }

    .change-page {
        padding: 15px 0;
    }

    .logo-text__h1 {
        font-size: 24px;
    }
    .logo-text__p {
        font-size: 14px;
    }

    .hamMenu {
        font-size: 20px;
        padding-top: 30px;
    }
}


@media only screen and (max-width: 500px) {
    .logo-text {
        display: none;
    }
}