body, h1, h3, p, figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

button {
  &:focus {
    outline: 0;
  }
}

.main-content {
  font-family: Arial, sans-serif;
}

%flex-between {
  display: flex;
  justify-content: space-between;
}

.main-container {
  width: 990px;
  margin: auto;
  color: #fff;
}

.header {
  padding-top: 40px;
  background: rgb(0,53,108);
  background: linear-gradient(0deg, rgba(0,53,108,1) 0%, rgba(0,0,0,1) 25%);
}

.logo {
  display: flex;
}

.logo-img {
  margin-right: 40px;
  height: 83px;
}

.logo-text {
  color: white;

  h1 {
    font-size: 36px;
    font-weight: normal;
  }

  p {
    padding-top: 9px;
    font-size: 18px;
    font-style: italic;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
  font-size: 16px;
}

.item {
  margin-right: 30px;
  color: #fff;
  
  &:last-child {
    margin-right: 0;
  }
}

.articles {
  color: #000;
}

.article-inside {
  display: flex;
}

.main-container__h1 {
  padding: 38px 0;
  font-weight: normal;
  font-size: 24px;
}

.articles-img {
  padding: 0 18px 20px 0;

  p {
    margin-top: -4px;
    padding: 10px 15px;
    background-color: #3c3c3d;
    color: #fff;
    font-style: italic;
    font-size: 11px;
    text-align: center;
  }
}

.article-box {
  h3 {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 16px;
  }

  p {
    font-size: 14px;
    padding-bottom: 16px;
    line-height: 1.3;
  }
}

.article-h {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 16px;
}

.article-p {
  font-size: 14px;
  padding-bottom: 16px;
  line-height: 1.3;
}

.change-page {
  @extend %flex-between;
  padding: 40px 0;
}

.button {
  width: 209px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 0;
  border-width: 0;
  cursor: pointer;

  &-next {
    color: #fff;
    background-color: #000f1e;

    &:hover {
      background-color: transparent;
      color: #000f1e;
      transition: all 0.4s;
      border: 1px solid #000f1e;
    }
  }

  &-previous {
    color: #cdcdcd;
    background-color: #959595;
  }
}

.fa-angle-double-left {
  padding-right: 5px;
}

.fa-angle-double-right {
  padding-left: 5px;
}

.footer {
  background: rgb(0,70,141);
  background: linear-gradient(0deg, rgba(0,70,141,1) 0%, rgba(0,0,0,1) 60%);
  padding: 40px 0 35px 0;
}

.footer-main {
  @extend %flex-between;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.footer-item {
  padding-bottom: 6px;
}

.footer-location {
  font-size: 14px;
}

.footer-country {
  padding-bottom: 10px;
}

.footer-information {
  font-size: 12px;
  width: 261px;
  text-align: right;
}

.footer-questions {
  padding-top: 30px;
}

.mail {
  text-decoration: underline;
}

.hover {
  &:hover {
    color: rgb(0,70,141);
    transition: all 0.4s;
  }
}

.footer-universe {
  padding-top: 20px;
  @extend %flex-between;
}

.footer-logo {
  @extend %flex-between;

  h1 {
    font-size: 24px;
    padding-left: 5px;
    font-weight: normal;
    display: flex;
    align-items: flex-end;
  }
}

.footer-designer {
  p {
    font-size: 10px;
    padding-bottom: 3px;
    text-align: right;
  }
}

.hamburger {
  cursor: pointer;
  display: none;
}

.line {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
}

.hamburger-menu {
  display: none;
}

/* Responsive */

@media only screen and (max-width: 1050px) {
  .main-container {
    width: 100%;
  }

  .articles, .footer-inside, .header-inside {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
    padding: 0 20px;
  }

  .nav {
    display: none;
  }

  .hamburger-menu.show {
    display: flex;
    flex-direction: column;
  }

  .hamburger-menu {
    display: none;
    background: transparent;
    height: 100vh;
    align-items: center;
    font-size: 24px;
    padding-top: 50px;
  }

  .article-inside {
    flex-direction: column;
  }

  .articles-img {
    padding: 0 0 20px 0;
    margin-right: auto;
    margin-left: auto;
  }

  .articles-img {
    p {
      width: 251px;
      padding: 10px 0;
    }
  }

  .nav.show {
    text-align: center;
  }

  .item {
    padding-top: 10px;
    margin-right: 0;
  }

  .header {
    padding-top: 0;
    background: linear-gradient(0deg, rgba(0, 53, 108, 1) 0%, rgba(0, 0, 0, 1) 15%);
  }

  .logo {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  .logo-img {
    margin-right: 0;
  }

  .logo-text {
    h1 {
      font-size: 30px;
    }
  }
}

@media only screen and (max-width: 640px) {
  .button {
    width: 100%;

    &-previous {
      margin-bottom: 10px;
    }
  }

  .change-page {
    flex-direction: column;
    padding: 30px 0;
  }

  .articles, .footer-inside, .header-inside {
    padding: 0 10px;
  }

  .footer-main {
    flex-direction: column;
  }

  .footer-information {
    font-size: 12px;
    width: 100%;
    text-align: left;
    padding-top: 15px;
  }

  .footer-questions {
    padding-top: 5px;
  }

  .footer-location {
    padding-top: 15px;
  }

  .footer {
    padding: 15px 0;
  }

  .footer-universe {
    flex-direction: column;
  }

  .footer-logo {
    justify-content: flex-start;
    align-items: center;
  }

  .footer-designer {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
  }

  .hamburger-menu {
    font-size: 20px;
    padding-top: 30px;
  }
}

@media only screen and (max-width: 550px) {
  .footer-logo {
    h1 {
      font-size: 18px;
    }
  }

  .main-container__h1 {
    padding: 15px 0;
    font-size: 18px;
  }

  .change-page {
    padding: 15px 0;
  }

  .logo-text {
    h1 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
  }

  .hamburger-menu {
    font-size: 20px;
    padding-top: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .logo-text {
    display: none;
  }
}
